[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
pytest = "*"
lxml = "*"
mypy = "*"
types-requests = "*"
types-python-dateutil = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.8"
