[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
types-requests = "*"
types-python-dateutil = "*"

[dev-packages]
isort = "*"
mypy = "*"
pytest = "*"
black = "*"
twine = "*"

[requires]
python_version = "3.8"
